<!DOCTYPE html>
<html>
<head>
<title>Register</title>
<link rel="stylesheet" href="style.css"> </head>
<body>
  <h1>Register</h1>
  <form action="/register" method="POST">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password">
    </div>
    <button type="submit">Register</button>
  </form>
  <% if (errors) { %> <ul class="error-messages">
      <% errors.forEach(error => { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>
  <% if (successMessage) { %> <p class="success-message"><%= successMessage %></p>
  <% } %>
</body>
</html>
